    <link rel="stylesheet" href="../CSS/styles.css">
    <script src="../JS/main.js"></script>
<footer class="site-footer">
    <div class="footer-inner">
        <p><Strong>Email:</Strong>  lamifsud93@gmail.com <strong>Phone:</strong> 734-536-4022 &copy; 2025 Everyday Design. All rights reserved.</p>
        <nav class="footer-nav">
            <a href="about.html">About</a>
            <!-- <a href="services.html">Services</a> -->
            <a href="portfolio.html">Portfolio</a>
            <a href="contact.html">Contact</a>
        </nav>
    </div>
</footer>